# Copyright 2021 Agnostiq Inc.
#
# This file is part of Covalent Cloud.

[flake8]
max-line-length = 99
max-complexity = 18
select = B,C,E,F,W,T4,B9
ignore = E501, E722, W503, F401, F403, F811, F841, E203
